/* h4 {
  padding: 20px 0 0 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 15px;
  color: gray;
} */

.sponser-body {
  background-color: #f7f7f7;
  ;

}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3e065f, #000000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  padding-left: 2rem;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000000, 0.2);
  }
}

.companiesList {
  margin: 50px 240px 40px 240px;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.companiesList div {
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.companiesList div:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.companiesList div img {
  width: 100px;
  height: 50px;
}

@media (max-width: 1040px) {
  h4 {
    padding: 20px 0 0 20px;
  }
  .companiesList {
    /* grid-template-columns: repeat(3, 1fr); */
    margin: auto;
  }
}

@media (max-width: 670px) {
  .companiesList {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  .companiesList div img {
    width: 130px;
    height: 70px;
  }
}
